# Variables de entorno (claves, tokens, etc.)
.env

# Archivos temporales de Python
__pycache__/
*.pyc

# Configuración del editor
.vscode/

# Archivos del sistema
.DS_Store

venv/
.env
__pycache__/
*.pyc
.idea/
.vscode/
Untitled

Thumbs.db