<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar ingreso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

    <div class="login-wrapper">
        <div class="register-card">
            <h1 class="login-title">Editar ingreso</h1>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form action="/editar_ingreso/{{ ingreso.id }}" method="POST" class="register-form">
                <input
                    type="number"
                    step="0.01"
                    name="monto"
                    placeholder="Monto"
                    value="{{ ingreso.monto }}"
                    required
                >

                <select name="tipo_periodo" required>
                    <option value="semanal" {% if ingreso.tipo_periodo == "semanal" %}selected{% endif %}>Semanal</option>
                    <option value="quincenal" {% if ingreso.tipo_periodo == "quincenal" %}selected{% endif %}>Quincenal</option>
                </select>

                <input
                    type="date"
                    name="fecha"
                    value="{{ ingreso.fecha }}"
                    required
                >

                <button type="submit" class="btn-main">Guardar cambios</button>
            </form>

            <a href="/dashboard" class="btn-secondary">volver al dashboard</a>
        </div>
    </div>

</body>
</html>